<h3>Add a friend <br>to see if you're compatible!</h3>


<div class="mx-auto" style="width: 600px">
  <form action="/add-friend" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <label for="name">Name</label>
          <br>
          <input id="name" type="text" class="form-control" name="name" placeholder="Sir Hendrick">
        </div>
      </div>
      <div class="form-row">

        <br>
        <div class="form-group col-4">
          <label>Birth Month</label>
          <select name="birthmonth" class="custom-select">
            <option value="1">January</option>
            <option value="2">February </option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label>Day</label>
          <select name=" birthday" class="custom-select">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
          </select>
        </div>

        <div class="form-group col">
          <label>Time</label>
          <br>
          <input type="text" name="birthtime" class="form-control" placeholder="18:05">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Place of birth</label>
          <input type="text" class="form-control" name="birthplace" placeholder="city, country">
        </div>
        <div class="form-group col">
          <label>Current location</label>
          <input type="text" class="form-control" name="location" placeholder="city, country">
        </div>
      </div>
      <div class="custom-file col">
        <label class="custom-file-label">Upload a profile photo</label>
        <input type="file" class="custom-file-input" name="photo">
      </div>
    </div>
    <div class="edit-button container justify-content-left ml-0 pl-0 pr-0 edit-button-profile" width="100%">
      <button type="submit" class="btn btn-primary edit-button-tag col">
        Add friend
      </button>
    </div>

  </form>
</div>