<h1>Add a friend card</h1>


<form action="/add-friend" method="POST" enctype="multipart/form-data">

  <label for="name">Friend's name</label>
  <input id="name" type="text" name="name" placeholder="friend's name">
  <br>

  <label>Date of birth</label>
  <input type="text" name="birthday" placeholder="dd/mm/yyyy">
  <br>

  <label>Month of birth</label>
  <input type="text" name="birthmonth" placeholder="month">
  <br>

  <label>Time of birth</label>
  <input type="text" name="birthtime" placeholder="18:05">
  <br>

  <label>Place of birth</label>
  <input type="text" name="birthplace" placeholder="city, country">
  <br>

  <label>Current location</label>
  <input type="text" name="location" placeholder="city, country">
  <br>

  <label>Upload a photo</label>
  <input type="file" name="photo">
  <br>

  <button type="submit">Add Friend</button>

  <br>
</form>