$primary: #cb482f;

/*  ==== colors ============== 
darkblue: #051221;
white: #fefefe;
lightblue: #a0c6db;
red: #cb482f;
 */

// background-image: linear-gradient(to top, #fefefe, #051221)
/* 992 breakpoint */

//import SCSS of boostrap
@import "node_modules/bootstrap/scss/bootstrap";


.container-fluid {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  // font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #051221;
  background-color: #fefefe;
  height: 100%;
  text-decoration: none !important;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.header-homepage {
  margin-top: 40px;
}

h1 {
  font-size: 3em;
  text-align: center;
  font-family: "Concert One", cursive;
}

h3 {
  font-size: 2em;
  font-family: "Concert One", cursive;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 30px;
}

.friends-divider {
  padding-bottom: 10px;
  height: 200px;
  background-color: #051221;
  color: #fefefe;
}

h4 {
  font-size: 1.3em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
}

ul {
  list-style-type: none;
}

nav {
  background-color: #051221;
  // background-image: linear-gradient(to top, #fefefe, #a0c6db);
  // background-image: linear-gradient(to top, #fefefe, #a0c6db);
}

nav a {
  color: #a0c6db;
  font-family: "Concert One", cursive;
  font-size: 1.2em;
}

.navbar-brand {
  font-size: 2em;
}

.profile-info-wrapper {
  // margin: 40px 50px 50px 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.profile-image {
  display: block;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-right: 30px;
  object-fit: cover;
  border: 0.5px solid black;
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.user-info li {
  font-size: 1em;
  font-family: "Concert One", cursive;
  font-weight: 300;
}

.user-info li span {
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

/*  Friends Deck home page ===================================== */
.friends-section {
  background-color: #a0c6db;
  background-image: linear-gradient(to top, #a0c6db, #fefefe);
}
.friends-deck {
  padding-bottom: 70px;
}

.friends-deck .img-thumbnail {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 0;
  object-fit: cover;
}

.compatability {
  text-align: center;
}

.card {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #0512212d;
  border: none;
  min-width: 300px;
  flex-grow: 0 !important;
  margin: auto !important;
  margin-top: 30px !important;
}

.card-title {
  font-size: 1.5em;
  font-family: "Concert One", cursive;
  font-weight: 300;
}

/* Compatibility page =================================================== */
.compat-info {
  width: 85%;
  margin-bottom: 500px;
}

.compat-deck {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.add-space {
  height: 200px;
}

.zodiac-compat-h4 {
  font-size: 1.4em;
  font-family: "Concert One", cursive;
  font-weight: 300;
}

.compat-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  max-width: 15%;
}

.compat-cards {
  margin: 0;
}

.compat-score-h3 {
  padding-top: 0px;
  margin-bottom: 0px;
}

/* Login page ===================================================== */
.login-wrapper {
  color: white;
}

.login-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 400px;
}

.inline-block {
  display: inline-block;
}

/* Profile page ================================================================ */
.profile-page-header {
  display: flex;
  justify-content: center;
}

.profile-body {
  background-image: linear-gradient(to top, #a0c6db, #fefefe);
  height: 100vh;
}

.zodiac-infos-box {
  max-width: 80%;
  padding: 20px;
}

.zodiac-infos-box-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.edit-button {
  display: flex;
  margin-top: 20px;
}

.edit-button-tag a {
  color: white;
  text-decoration: none;
}

.zodiac-h3 {
  padding: 0px;
}

.edit-button-profile {
  margin-bottom: 400px;
}

/*  Login page animation =================================================================  */
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  z-index: 1;
}

.twinkling {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat
    top center;
  z-index: 2;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top
    center;
  z-index: 4;

  -moz-animation: move-clouds-back 200s linear infinite;
  -ms-animation: move-clouds-back 200s linear infinite;
  -o-animation: move-clouds-back 200s linear infinite;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite;
}

/* Add friend form page ===================================================== */

#add-friend-button {
  margin-bottom: 428px;
}

/*  Footer =============================================== */
footer {
  height: 100px;
  color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #051221;
}

/* ============ Media */
